.topHeader {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
}
.menu {
  margin-top: 4rem;
}
.menu a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}


 .contentArea {
  margin-top: 4rem;
  padding: 0;
 }

p {
  font-size: 14px;
  font-family: italic;
}
